
body{
    background-color: bisque;
    font-family: 'Lora', serif;
}



h1{
    color:slategray;
}

nav{
    display: block;
}
.navigation{
    display: block;
    background-color: rgb(202, 207, 212);
    margin: 0%;
    padding: 2%;
    font-size: 125%;
}

.nav1{
    padding: 7%;
    font-size: 130%;
    color: slategray;
    text-decoration: none;

}

.title-1{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding:2%;
}

.mission{
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 3%;

}


.design{
    width: 25%;
    height: 200px;
    float: left;

}

.community{
    margin-left: 15%;
  height: 200px;
  float: right;

}

.container {
    width: 80%;
    height: 200px;

    margin: auto;
    padding: 0px;
  }


.question{
  
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding: 3%;

}


/* Set the size of the div element that contains the map */
#map {
    height: 300px;
    /* The height is 400 pixels */
    width: 50%;
    /* The width is the width of the web page */
  }