
body{
    background-color: bisque;
    font-family: 'Playfair Display', serif;
}



h1{
    color:slategray;
}

nav{
    display: block;
}
.navigation{
    display: block;
    background-color: rgb(202, 207, 212);
    margin: 0%;
    padding: 2%;
    font-size: 125%;
}

.nav1{
    padding: 7%;
    font-size: 130%;
    color: slategray;
    text-decoration: none;

}


/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }